//- Form input mixin
mixin form-input(id, label, placeholder)
   .form-group.row.mb-3
      label.col-sm-2.col-form-label(for=id)= label
      .col-sm-10
         input.form-control(id=id type="text" value=placeholder)

#add-song 
   h2.pt-3 &#119070; Mi repertorio &#119070;

   .container.pt-5.w-50 
      form
         +form-input('song', 'Canción:', 'A Dios le pido')
         +form-input('artist', 'Artista:', 'Juanes')
         +form-input('chord', 'Tono:', "Em")
         button#add.btn.btn-success.mx-1(onclick="addSong()") Agregar
         button#edit.btn.btn-info.mx-1(onclick="editSong()") Editar 
         