#song-list.pt-5 
   h2 Tabla de Canciones &#127908;

   .container.pt-5.w-75
      table.table.table-dark 
         thead
            tr
               th(scope="col") #
               th(scope="col") Canción
               th(scope="col") Artista
               th(scope="col") Acorde
               th(scope="col") -
         tbody#table-body